body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(/Psychic-Game/assets/images/background.jpg);
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(219, 255, 255);
  text-align: center;
  font-size: 4em;
  margin: 10px 0px 0px 20px;
  font-family: "Special Elite", cursive;
}

h3 {
  color: rgb(219, 255, 255);
  text-align: center;
  font-size: 2em;
  margin: 10px 0px 0px 20px;
  font-family: "Special Elite", cursive;
}

.game {
  color: rgb(219, 255, 255);
  font-size: 1.5em;
  margin: 50px 0px 0px 50px;
  line-height: 4em;
  font-family: "Special Elite", cursive;
  //   font-family: "Roboto", sans-serif;
  //   font-family: "Monofett", cursive;
}
